<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="instagramSection" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instagram</label>
            <tab>excellence</tab>
            <resource>Excellence_Instagram::instagram_config</resource>
            <group id="setting" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_ID" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <comment><![CDATA[Click on the link to get Client_ID <a href="https://www.instagram.com/developer/" target="_blank">https://www.instagram.com/developer/</a>]]></comment>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                </field>
                <field id="client_secret_ID" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <comment><![CDATA[Enter Client Secret Id Here.]]></comment>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                </field>
                <field id="api_uri" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect URI</label>
                    <comment><![CDATA[Your instagram Redirect Uri will be display here.]]></comment>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                    <frontend_model>Excellence\Instagram\Block\System\Config\Form\RedirectUri</frontend_model>
                </field>
                <field id="user_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User ID</label>
                    <comment><![CDATA[Your instagram User ID will be display here.]]></comment>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                </field>
                <field id="access_Token" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                    <comment><![CDATA[Your instagram Access Token will be display here.]]></comment>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                </field>
                <field id="listbutton" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Excellence\Instagram\Block\System\Config\Form\Button</frontend_model>
                    <depends><field id="instagramSection/setting/active">1</field></depends>
                </field>
                
            </group>
        </section>
    </system>
</config>

