<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Excellence_Base::base" title="xMagestore" module="Excellence_Base" sortOrder="15" dependsOnModule="Excellence_Base" resource="Excellence_Base::base"/>
    </menu>
</config>