.searchImg {
    float: right;
    background: #eb5202;
    color: rgba(241, 241, 241, 1);
    border: 2px solid #eb5202;
    height: 24px;
    padding: 6px 22px;
    border-left: 0px;
    font-size: 17px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    font-weight: 600;
    text-decoration: none;
}
.mainDiv {
    width: 100%;
    float: right;
}
#searchBox {
    float: right;
    height: 36px;
    width: 28%;
    border-right: 0px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.imagesShow {
    img {
        margin-right: 16px;
        margin-top: 13px;
    }
}
.img_Container {
    display: inline-block;
}
